@font-face {
    font-family: font1;
    src: url(font1.ttf);
  }

body {
    font-family: font1;
    margin:0;
    padding:0;
    background-color: rgb(252, 249, 105);
}

.header {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(84, 150, 255);
    position: fixed;
    width: 100vw;
    height:15vh;
}

.add {
    background-color: white; 
    border-radius: 15px;
    border: none;
    color: white;
    padding: 0px 7px 0px 7px;
    text-align: center;
    text-justify: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

input {
   
    font-size: 30px;
}

.cont {
    display: flex;
    justify-content: space-evenly;
}
